<div class="border border-2 p-3 m-3">
    <input type="text" class="form-control" placeholder="Enter Employee Id" [(ngModel)]="eId" style="width: 300px;">
    <input type="text" class="form-control" placeholder="Enter Employee Name" [(ngModel)]="name" style="width: 300px;">
    <input type="text" class="form-control" placeholder="Enter Employee Salary" [(ngModel)]="sal" style="width: 300px;">
    <input type="text" class="form-control" placeholder="Enter Employee Gender" [(ngModel)]="gender" style="width: 300px;">
    <button class="btn btn-primary" (click)="addEmployee()">Add Employee</button>

</div>
